@import url("https://fonts.googleapis.com/css?family=Lato|Sansita");

#sidebar {
    z-index: 1;
    position: fixed;
}

#sidebar span {
    font-family: 'Sansita', sans-serif;
}

#sidebar #toggleSidebar {
    z-index: 2;
    padding: 1em;
    text-align: center;
    background-color: white;
    color: #FFB7C5;
    border: 1px solid;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#sidebar #toggleSidebar:before {
    color: #684B51;
}

#sidebar.active ul {
    left: -1em;
    visibility: visible;
    -webkit-transition: visibility 1s ease-in-out, left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: visibility 1s ease-in-out, left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#sidebar ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    visibility: hidden;
    left: -10em;
    position: relative;
    -webkit-transition: visibility 1s ease-in-out, left .5s ease-out;
    transition: visibility 1s ease-in-out, left .5s ease-out;
}

#sidebar ul>li {
    color: #FFB7C5;
    display: block;
    list-style: none;
    padding: 0.5em 0 0.5em 2em;
    width: 2.5em;
    height: 2em;
    margin: 0;
    -webkit-transition: all 0.75s cubic-bezier(0.87, -0.31, 0.18, 1.08);
    transition: all 0.75s cubic-bezier(0.87, -0.31, 0.18, 1.08);
    text-align: center;
    white-space: nowrap;
    border-style: solid;
    border-width: 0 1px 0 0;
    cursor: pointer;
}

#sidebar ul>li:first-child {
    border-width: 1px 1px 0 0;
}

#sidebar ul>li:last-child {
    border-width: 0 1px 1px 0;
}

#sidebar ul>li span {
    position: relative;
    left: -10em;
    padding-left: 0.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #FFB7C5;
    font-weight: bold;
    visibility: hidden;
    display: inline-block;
    opacity: 0;
    -webkit-transition: visibility 0.75s, opacity 1s cubic-bezier(0.42, 0, 0, 1), left 1s ease-out;
    transition: visibility 0.75s, opacity 1s cubic-bezier(0.42, 0, 0, 1), left 1s ease-out;
}

#sidebar ul>li:hover {
    width: 14em;
    border-radius: 0 3em 3em 0;
    opacity: 1;
}

#sidebar ul>li:hover:hover span {
    left: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.75s, opacity 1s cubic-bezier(0.42, 0, 0, 1), left 0.5s ease-in-out;
    transition: visibility 0.75s, opacity 1s cubic-bezier(0.42, 0, 0, 1), left 0.5s ease-in-out;
}

#sidebar ul>li:nth-of-type(1) {
    background-color: #811453;
}

#sidebar ul>li:nth-of-type(2) {
    background-color: #3C144F;
}

#sidebar ul>li:nth-of-type(3) {
    background-color: #9F4576;
}

#sidebar ul>li:nth-of-type(4) {
    background-color: #9C2542;
}

#sidebar ul>li:nth-of-type(5) {
    background-color: #0A7E8C;
}

@media (max-width: 768px) {
		#sidebar ul>li:hover {
				width: 12em;
		}

    #sidebar ul>li {
        height: 2em;
    }
}

@media (max-width: 480px) {
    #sidebar ul>li {
        padding-left: 1.5em;
    }
}
