> li {
	display: block;
	width: 2.5em;
	height: 2em;

	margin: 0;
	padding: .5em 0 .5em 2em;

	transition: all .75s cubic-bezier(.87, -.31, .18, 1.08);
	border-width: 0 1px 0 0;
	border-style: solid;
	color: $em-list-color;
	list-style: none;

	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	&:first-child {
		border-width: 1px 1px 0 0;
	}

	&:last-child {
		border-width: 0 1px 1px 0;
	}

	@import '_item-span';
	@import '_item-hover';
	@import '_item-background';
	@import '_item-media';
}
