&:hover {
	width: 14em;
	border-radius: 0 3em 3em 0;
	opacity: 1;

	&:hover {
		span {
			left: 0;

			transition: visibility .75s, opacity 1s cubic-bezier(.42, 0, 0, 1), left .5s ease-in-out;
			opacity: 1;
			visibility: visible;
		}
	}


	@include media('<=tablet') {
		width: 12em;
	}
}
