.em-toggle {
	display: inline-block;
	position: relative;
	padding: 1em;
	border: 1px solid;

	background-color: $em-toggle-bg;
	color: $em-toggle-color;

	text-align: center;
	cursor: pointer;
	z-index: 2;

	&::before {
		color: $em-toggle-color2;
	}
}
